<h1>Sessions#home</h1>
<p>Find me in app/views/sessions/home</p>
<p>Welcome <%=@current_user.name%>!</p>
<%= link_to "Create New User Profile", profile_path%><br/>
<%= link_to 'Zoo Page', zoos_path %><br/>
<%= link_to 'Animal Page', animals_path %>
