<h1>List of Registered Users</h1>

<table>
  <tr>
    <th>Picture</th>
    <th>Name</th>
    <th>Email</th>
 
  </tr>

<% @users.each do |user| %>
  <tr>
  	<td><%= image_tag user.photo.url(:small) %></td>
    <td><%= link_to user.name, user_path(user.id) %>  <%if user.admin%>(Admin)<%end%></td>
    <td><%= mail_to user.email %></td> 
  </tr> 
<% end %>
</table>
<%= will_paginate @users%>

  
